<html>
<body>
<div class="form-group">
    <div class="col-md-12 control">
        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
            Don't have an account!
            <a href="/login">
                login Here
            </a>
        </div><br>
    </div>
</div>
<div>
    Start Page
</div>
</body>
</html>